/****  PAGE  ****/
label, .h1 {
    font-weight: 300;
}

body {
    font-weight: 300;
    font-family: 'Raleway', Arial, sans-serif;
}

text {
    pointer-events: none; /* Make sunburst labels non-selectable */
    fill: white;
}

.titleImage {
    margin-bottom: 18px;
    height: 40px;
}

.titleImage:hover {
    opacity: 0.6;
}

#topicDetails {
    color: lightgray;
}

.cardsToggleAll {
    float: right;
    color: lightgray;
    margin-left: 5px;
    display: none;
}

.cardsToggleAll:hover {
    opacity: 0.6;
}

.searchButton {
    color: lightgray;
}

#welcomeMessage {
    overflow: hidden;
    height: 0px;
}

/****  SUNBURST  ****/
#corpusAsOf {
    fill: lightgray;
    alignment-baseline: middle;
    text-anchor: middle;
}

#corpusName {
    fill: black;
    alignment-baseline: middle;
    text-anchor: middle;
}

#corpusDate, #corpusCount {
    fill: darkgray;
    alignment-baseline: middle;
    text-anchor: middle;
}

#svg_container {
    position: relative;
}

#svgHelp {
    position: absolute;
    top: 10px;
    right: 10px;
    color: lightgray;
}

#svgSearch {
    position: absolute;
    top: 10px;
    right: 30px;
    color: lightgray;
}

#svgHelp:hover, #svg_search:hover {
    opacity: 0.6;
}

#svgTop7 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: lightgray;
}

/*#corpusSearch {*/

    /*font-family: FontAwesome;*/
/*}*/

/****  CARDS  ****/
.bs-callout {
    padding: 8px;
    margin: 6px 0;
    border: 1px solid lightgray;
    border-left-width: 7px;
    border-radius: 3px;
}

.bs-callout-pos {
    border-left-color: #5cb85c;
}

.bs-callout-neg {
    border-left-color: #d9534f;
}

mark {
    background-color: #33b5e5;
}

.card {
    position: relative;
    width: 100%;
    height: 94px;
    overflow: hidden;
}

.cardTitle {
    position: absolute;
    top: 0px;
    right: 8px;
    text-align: right;
}

.cardTime {
    position: absolute;
    top: 0;
    left: 8px;
    text-align: left;
    color: lightgray;
}

.cardImage {
    position: absolute;
    top: 35px;
    right: 8px;

    /* alt image formatting */
    width: 42px;
    height: 42px;
    text-transform: uppercase;
    background-color: white;
    z-index: 1000; /* pop to front */
    color: #337ab7;
    text-align: center;
    display: table-cell;
    vertical-align: baseline;
    font-size: 175%;
}

.cardImage:hover {
    opacity: 0.6;
}

.cardToggle {
    position: absolute;
    color: lightgray;
    top: 700px;  /* Places small "-" icon properly in each card. Odd: it's 750px when the box is only 300px tall. */
    right: 8px;
}

.cardResize {
    font-weight: bolder;
    text-align: center;
    vertical-align: baseline;
    font-size: 350%;
    border-radius: 3px;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.cardText {
    position: absolute;
    top: 30px;
    width: calc(100% - 64px);
    text-align: left;
}

.cardMore {
    position: absolute;
    top: 75px;
    right: 8px;
}



